# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages Data Scientists use
- List popular tools Data Scientists use
- Create a table
- Create artyhmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the popular tools that Data Scientists use are:

1. TensorFlow
2. Pandas
3. Scipy
4. NumPy

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Jupyter Labs|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author

Benjamin Stratton